{% extends 'base.html.twig' %}
{% block body %}

    <h1>Détails de la Recette</h1>
<main>
    <h2>{{ recette.niveau }}</h2>
    <ul>
        {% for ingredient_recette in recette.ingredientRecettes %}
            <li>
                <strong>{{ ingredient_recette.ingredient.nom }}</strong> :
                {{ingredient_recette.quantite}} 
                {% if ingredient_recette.typeQuantite is not null %}
                    {{ ingredient_recette.typeQuantite.libelle }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</main>
{{dump(recette)}}

{% endblock %}
